<div class="continer">
  <div class="row">
    <div
      class="final-test-card rounded pt-5 row d-flex flex-wrap justify-content-center"
    >
      <div class="final-test-card-content border d-flex p-3 mb-3 mx-2">
        <!-- pTooltip="This Homework's points will be considered within the final grade."
          tooltipPosition="right"
          showDelay="250"
          hideDelay="500" -->
        <!-- [routerLink]="['/student/HomeworkDetails']" -->
        <div class="quiz-details">
          <div class="position-relative d-flex justify-content-start">
            <div class="text-secondary font-weight-bold">Final Test</div>
            <div class="ml-5">28 Dec 2020</div>
          </div>
          <div class="mr-3 pb-5">
            Lorem ipsum dolor sit amet, consectetur adipi Lorem ipsum dolor sit
            amet, consectetur adipi
          </div>
          <div class="d-flex justify-content-start">
            <div class="points-tag rounded-circle text-center">
              <i class="pi pi-star"></i>
            </div>
            <div class="ml-3 points-degree">50 / 70 points</div>
          </div>
          <div class="end-date d-flex justify-content-start">
            <p>Ends After:</p>
            <span class="text-primary ml-5">08 days 15 hrs 23 min 33 sec</span>
          </div>
        </div>
        <div class="quiz-status text-center" style="color: #d9a600">
          <div class="m-auto">
            <i class="pi pi-question-circle" style="font-size: 2rem"></i>
          </div>
          <div class="quiz-statu-text">pinding</div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        sed ligula laoreet erat blandit imperdiet non non tellus. Duis blandit
        nunc id arcu aliquet facilisis. Nullam non finibus magna. Nunc
      </p>
    </div>
  </div>
</div>
