.Progress {
  .page-title {
    // margin-bottom: 7rem;
  }
}
// edu tabs links //
.tabs {
  width: 75%;
  height: auto;
  border-radius: 50px;
  background-image: linear-gradient(to left, #2c3e90, #b4002b);
}

.eduTab {
  line-height: 40px;
  color: #fff;
  // border: 3px solid #202d69 !important;
}
.eduTab:hover {
  text-decoration: none;
}
.eduTab.active {
  font-weight: 600;
  background-color: white !important;
  border-radius: 50px;
  color: #2c3e90 !important;
}
