<div class="container">
    <div class="login">
        <div class="page-title">
            <!-- <h1 class="text-primary font-weight-bold">Login</h1> -->
            <!-- <p>Reset Password</p> -->
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <h5 class="mb-4">Reset Password</h5>
                    <div class="form-group">
                        <div class="col-12">
                            <input required type="email" name="email" [(ngModel)]="changePasswordRequest.email"
                                class="form-control adler-form-control" id="emailAddress" aria-describedby="emailHelp"
                                placeholder="Email address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12 p-relative">
                            <input required name="old-password" [type]="showOldPassword ? 'text' : 'password'"
                                [(ngModel)]="changePasswordRequest.currentPassword"
                                class="form-control adler-form-control p-inputtext p-component" id="oldPassword"
                                aria-describedby="oldPassword" placeholder="Current Password">
                            <span class="show-password position-absolute"
                                (click)="showOldPassword = !showOldPassword"><i class="fas"
                                    [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12 p-relative">
                            <input required name="password" [type]="showPassword ? 'text' : 'password'" pPassword
                                [(ngModel)]="changePasswordRequest.password" class="form-control adler-form-control"
                                id="password" aria-describedby="newPassword" placeholder="New Password">
                            <span class="show-password position-absolute" (click)="showPassword = !showPassword"><i
                                    class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12 p-relative">
                            <input required name="confirm-password" [type]="showConfirmPassword ? 'text' : 'password'"
                                [(ngModel)]="changePasswordRequest.confirmPassword"
                                class="form-control adler-form-control p-inputtext p-component"
                                appConfirmEqualValidator="password" id="passwordConfirm" placeholder="Confirm Password">
                            <span class="show-password position-absolute"
                                (click)="showConfirmPassword = !showConfirmPassword"><i class="fas"
                                    [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i></span>
                        </div>
                    </div>
                    <button type="submit" class="btn adler-btn ">Reset Password <span class="ml-4"><i
                                class="fas fa-arrow-right"></i></span></button>
                </form>
            </div>
        </div>
    </div>

</div>