<div class="rounded p-4 mb-2">
  <div class="lesson-instance-card border row p-3 mb-3" *ngFor="let groupInstance of groupInstances">
    <!-- [routerLink]="['/student/HomeworkDetails']"
    [ngClass]="{ 'mb-3': i < 1 }" -->
    <div class="lesson-details col-10">
      <div class="position-relative d-flex">
        <div class="text-secondary font-weight-bold">Lesson 1</div>
        <div class="ml-5">05 Dec 2020</div>
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipi Lorem ipsum dolor sit
        amet, consectetur adipi
      </div>
    </div>
    <div class="download-lesson-icon text-secondary d-flex justify-content-end col">
      <a><i class="fa fa-download"></i></a>
    </div>
  </div>
</div>